@(route: String)

<!DOCTYPE html>

<html>
    <head>
        <title>ROOHN</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @if(route.equalsIgnoreCase("sign_in")){

        }
        @if(route.equalsIgnoreCase("register")){

        }
        @if(route.equalsIgnoreCase("submit")){
            @submit.render();
        }
        @if(route.equalsIgnoreCase("categories")){
            @categories.render();
        }
    </body>
</html>
